<h1>Payment Results</h1>

<div>APR</div>
<div><%= @apr %></div>
<div>Number of years</div>
<div><%= @period %></div>
<div>Principal</div>
<div><%= @principal %></div>
<div>Payment</div>
<div><%= @pmt %></div>

<a href="/payment/new">Calculate another payment</a>
