  <form action="/random/results">
    <div>
      <label for="minimum_id">Minimum</label>
      <input id="minimum_id" type="number" name="minimum">
    </div>
    <div>
      <label for="maximum_id">Maximum</label>
      <input id="maximum_id" type="number" name="maximum">
    </div>
    <div>
      <button>Pick random number</button>
    </div>
  </form>
