<h1>Random Results</h1>

<div>Minimum</div>
<div><%= @minimum %></div>
<div>Maximum</div>
<div><%= @maximum %></div>
<div>Random Number</div>
<div><%= @random_number %></div>

<a href="/random/new">Calculate another random number</a>
