  <form action="/square_root/results">
     <div>
      <label for="sqrt_number_id">Enter a number</label>
      <input id="sqrt_number_id" type="number" name="number">
    </div>
    <div>
      <button>Calculate square root</button>
    </div>
  </form>
