  <form action="/square/results">
    <div>
      <label for="sq_number_id">Enter a number</label>
    </div>
    <div>
      <input id="sq_number_id" type="number" name="number">
    </div>
    <div>
      <button>Calculate square</button>
    </div>
  </form>
